/*  your css code here. If applicable */
.star{
	width:200px;
	height:200px;
	background-color:yellow;
	clip-path: polygon(33% 22%, 4% 23%, 18% 46%, 5% 71%, 33% 71%, 50% 95%, 67% 70%, 91% 71%, 79% 46%, 94% 22%, 65% 22%, 49% 0);
}